/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v8-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('../fonts/noto-sans-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v8-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-sans-v8-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('../fonts/noto-sans-v8-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v8-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v8-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v8-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v8-latin-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/noto-sans-v8-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
       url('../fonts/noto-sans-v8-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v8-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v8-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v8-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v8-latin-700italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

.highlight table td {
    padding: 5px
}

.highlight table pre {
    margin: 0
}

.highlight .cm {
    color: #999988;
    font-style: italic
}

.highlight .cp {
    color: #999999;
    font-weight: bold
}

.highlight .c1 {
    color: #999988;
    font-style: italic
}

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

.highlight .c, .highlight .cd {
    color: #999988;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .gd {
    color: #000000;
    background-color: #ffdddd
}

.highlight .ge {
    color: #000000;
    font-style: italic
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #999999
}

.highlight .gi {
    color: #000000;
    background-color: #ddffdd
}

.highlight .go {
    color: #888888
}

.highlight .gp {
    color: #555555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaaaaa
}

.highlight .gt {
    color: #aa0000
}

.highlight .kc {
    color: #000000;
    font-weight: bold
}

.highlight .kd {
    color: #000000;
    font-weight: bold
}

.highlight .kn {
    color: #000000;
    font-weight: bold
}

.highlight .kp {
    color: #000000;
    font-weight: bold
}

.highlight .kr {
    color: #000000;
    font-weight: bold
}

.highlight .kt {
    color: #445588;
    font-weight: bold
}

.highlight .k, .highlight .kv {
    color: #000000;
    font-weight: bold
}

.highlight .mf {
    color: #009999
}

.highlight .mh {
    color: #009999
}

.highlight .il {
    color: #009999
}

.highlight .mi {
    color: #009999
}

.highlight .mo {
    color: #009999
}

.highlight .m, .highlight .mb, .highlight .mx {
    color: #009999
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: #008080
}

.highlight .bp {
    color: #999999
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #445588;
    font-weight: bold
}

.highlight .no {
    color: #008080
}

.highlight .nd {
    color: #3c5d5d;
    font-weight: bold
}

.highlight .ni {
    color: #800080
}

.highlight .ne {
    color: #990000;
    font-weight: bold
}

.highlight .nf {
    color: #990000;
    font-weight: bold
}

.highlight .nl {
    color: #990000;
    font-weight: bold
}

.highlight .nn {
    color: #555555
}

.highlight .nt {
    color: #000080
}

.highlight .vc {
    color: #008080
}

.highlight .vg {
    color: #008080
}

.highlight .vi {
    color: #008080
}

.highlight .nv {
    color: #008080
}

.highlight .ow {
    color: #000000;
    font-weight: bold
}

.highlight .o {
    color: #000000;
    font-weight: bold
}

.highlight .w {
    color: #bbbbbb
}

.highlight {
    background-color: #f8f8f8
}

body {
    background-color: #fff;
    padding: 50px;
    font: 14px / 1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 0 0 20px
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px
}

h1, h2, h3 {
    line-height: 1.1
}

h1 {
    font-size: 28px
}

h2 {
    color: #393939
}

h3, h4, h5, h6 {
    color: #494949
}

a {
    color: #267CB9;
    text-decoration: none
}

a:hover, a:focus {
    color: #111111;
//    font-weight: bold
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block
}

a:hover small {
    color: #777
}

.wrapper {
    width: 860px;
    margin: 0 auto
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color: #333
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto
}

table {
    width: 100%;
    border-collapse: collapse
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5
}

dt {
    color: #444;
    font-weight: 700
}

th {
    color: #444
}

img {
    max-width: 100%
}

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased
}

header ul {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 270px
}

header li {
    width: 89px;
    float: left;
    border-right: 1px solid #e0e0e0;
    height: 40px
}

header li:first-child a {
    border-radius: 5px 0 0 5px
}

header li:last-child a {
    border-radius: 0 5px 5px 0
}

header ul a {
    line-height: 1;
    font-size: 11px;
    color: #676767;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px
}

header ul a:hover, header ul a:focus {
    color: #675C5C;
    //font-weight: bold
}

header ul a:active {
    background-color: #f0f0f0
}

strong {
    color: #222;
    font-weight: 700
}

header ul li + li + li {
    border-right: none;
    width: 89px
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222
}

section {
    width: 500px;
    float: right;
    padding-bottom: 50px
}

small {
    font-size: 11px
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased
}

@media print, screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0
    }

    header, section, footer {
        float: none;
        position: static;
        width: auto
    }

    header {
        padding-right: 320px
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px
    }

    header a small {
        display: inline
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word
    }

    header {
        padding: 0
    }

    header ul, header p.view {
        position: static
    }

    pre, code {
        word-wrap: normal
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 15px
    }

    header ul {
        width: 99%
    }

    header li, header ul li + li + li {
        width: 33%
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444
    }
}


#banner
{ width: 940px;
 // position: relative;
  text-align: center;
}
 

#site_content
{ width: 940px;
  overflow: hidden;
float: left;
padding-left: 20px;
  margin: 0 auto;} 
  
#content
{ //width: 880px;
  margin: 0 0 20px 10px;
  }

.content_item
{ width: 880px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_image
{ float: left; 
  margin: 0 20px 10px 0;
}

.content_imager
{ float: right; 
  margin: 0 20px 10px 0;
}
  
.content_container
{ width: 320px;
  padding: 5px;
  margin-right: 10px;
  float: left;}

 